* {
    background-color: black;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    text-align: auto;
    padding: 15px 10px;
    width: 20%;
    margin: auto;
}

.meuNome {
    font-family: sans-serif;
}