* {
    background-color: lightblue;
    margin: 0;
    border: 0;
    padding: 0;
}

.titulo{
    text-align: justify;
    background-color: black;
    color: whitesmoke;
    padding: 15px 10px;
    }
    
    h3, p {
        font-family: 'Courier New', Courier, monospace;
    }
    
    .meuNome {
        font-family: sans-serif;
    }