* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    background-color: black;
    color: whitesmoke;
}

.header {
    padding: 15px 10px;
    width: 40%;
    margin: auto;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
}
.resumo {
    display: inline-block;
}